body{
    background-color: #000000;
    color: #ffffff;
    gap: 0%;
}
          /* navbar star  */
.logo-item{
    width: 165px;
    margin-right: 20px;
    gap: 5px;
    margin-left: 30px;
}
.nav-item{
    font-size: 1.6rem;
    gap: 35px;
}
.navbar{
    padding: 20px;
    border: 1px solid #ffffff;
    border-bottom: #ffffff;
}
.franchise-btn{
    border: 1px solid #ffffff;
    background-color: #000000;
    border-radius: 30px;
    padding: 12px 16.5px 12px 16.5px;
    font-size: 1.6rem;
}
.order-btn{
    border: none;
    background-color: #ed1c24;
    border-radius: 30px;
    padding: 20px 25px;
    font-size: 1.6rem;
}
.circle-btn{
    background-color: #ffffff;
    color: #ed1c24;
    border-radius: 50px;
    padding: 5px 5px;
}
.text-none{
    @font-face {
        font-family: "apercu-Bold";
        src: url(../fonts/Apercu\pro\ Bold.otf);
    }
    font-size: 16px;
}

/* navbar end  */


/* introduction :start  */

h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;

}
p{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;

}
.resturant{
    display: flex;
    gap: 150px;
}

.text{
    font-size: 40px;
    font-weight: bolder;
    
}
h2{
   font-size: 20px;
}
.p-1{
    display: flex;
    text-align: center;
    margin-left: 10px ;
}
.resturant-1992{
    display: flex;
    gap: 150px;
}
h3{
    font-size: 10px;
}
.p-2{
    display: flex;
    text-align: start;
    justify-content: flex-start;
    margin-right:0px;
    margin-left: 1px;
   
}
.islamabad{
    display: flex;
    gap: 140px;
}
.faislabad{
    display: flex;
    gap: 150px;
}
.f-f{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0%;
}
.bahawalpure{
    display: flex;
    gap: 150px;
}
h3{
    text-align: center;
    font-size: 40px;
}
.text{
    font-size: 35px;
}
p{
    text-align: center;
    font-size: large;
}
.express{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.image-behria{
    width: 250px;
    height: 280px;
    background-color: #000;
    color: #fff;
    padding: 50px 150px;
}
.font-size3{
    font-size: 3rem;
}
.bg-gray{
background-color: #0f0f0f;

}